<div class="blur" [ngClass]="blur"></div>

<div class="sidebar" [ngClass]="status">
  <div class="sidebarTop" *ngIf="status == 'open'">
    <Button class="btnClose" *ngIf="status == 'open'" (click)="onClick()">✖</Button>
  </div>


  <div class="sidebarContent" *ngIf="status == 'open'">
    <img class="propic" *ngIf="status == 'open'" src={{datiCv.propic_path}}>

    <h3 class="dati">{{datiCv.name}} {{datiCv.surname}}</h3>

    <hr>

    <p class="about-me">Nato a Crotone il 17 luglio 1993 negli ultimi anni ho vissuto tra Crotone, Roma e Torino. Sono estemamente curioso, divoratore musicale, di cinema e libri. Fortemente affascinato dello spazio e dell'universo. Mi piace perdermi nella natura o sotto il sole in spiaggia. Mi piacciono le sfide mentali e fisiche. Amo l'emozione di esplorare nuovi mondi che siano essi reali o di fantasia.</p>

    <hr>

    <p class="dati" style="margin-bottom: 10px;">{{datiCv.email}}</p>

  </div>

  <div class="sidebarContacts" *ngIf="status == 'open'">
    <div class="contacts">
      <a href="https://www.linkedin.com">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </div>

    <div class="contacts">
      <a href="https://github.com/loscls">
        <i class="devicon-github-original"></i>
      </a>
    </div>
  </div>

</div>


