<div class="blur" [ngClass]="blur"></div>

<div class="sidebar" [ngClass]="status">
  <div class="sidebarTop" *ngIf="status == 'open'">
    <Button class="btnClose" *ngIf="status == 'open'" (click)="onClick()">✖</Button>
  </div>


  <div class="sidebarContent" *ngIf="status == 'open'">
    <img class="propic" *ngIf="status == 'open'" src={{datiCv.propic_path}}>

    <h3 class="dati">{{datiCv.name}} {{datiCv.surname}}</h3>

    <hr style="margin: 10px 30px 10px 30px;">

    <p class="dati" style="margin-bottom: 10px;">{{datiCv.birth_date}}</p> <!-- aggiungere bottoni -->
    <p class="dati" style="margin-bottom: 10px;">{{datiCv.email}}</p>
    <p class="dati" style="margin-bottom: 10px;">{{datiCv.github}}</p>

    <hr style="margin: 10px 30px 10px 30px;">
  </div>

  <div class="sidebarContacts" *ngIf="status == 'open'">
    <div class="contacts">
      <a href="https://www.linkedin.com">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </div>

    <div class="contacts">
      <a href="https://github.com/loscls">
        <i class="devicon-github-original"></i>
      </a>
    </div>
  </div>

</div>


