* {
  font-family: 'Roboto Mono', monospace;
}

.blur{
  width: 0rem;
  height: 100vh;
  position: fixed;
  z-index: 1;
  min-height: 100vh;
  background: rgba(76, 73, 73, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all .8s ease;

  animation-name: bg_blur;
  animation-duration: 0.5s;
}

.on {
  width: 100%;
}

.sidebar {
  background: #434748;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 0rem;
  height: 100vh;
  border-radius: 0 .5rem .5rem 0;
  box-shadow: 0.063rem 0 1.25rem 0 #33373d;
}

.open {
  width: 25rem;
}

.sidebarTop {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}

.btnClose {
  margin-left: auto;
  background: transparent;
  color: #fff;
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: 24px;
  font-weight: 500;
  padding: 0.313rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}

.sidebarContent {
  position: relative;
  text-align: center;
}

.propic {
  border-radius: 11rem;
  height: 10rem;
  margin-bottom: 10px;
  animation-duration: 0.5s;
  animation-name: hello_propic;
}

.sidebarContent h3 {
  color: white;
  font-weight: 500;
}

.sidebarContent p{
  color: white;
  font-weight: 200;
}

.sidebarContacts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.contacts {
  border-radius: 50%;
  margin-right: 10px;
  color: #a7a7a7;
}

.contacts p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #333333;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  font-weight: 200;
}

.contacts:hover {
  cursor: pointer;
  opacity: 0.8;
}

@keyframes hello_propic{
  0%{
    width: 0;

  }

  100%{
    width: 40%;
  }
}

@keyframes bg_blur{
  0%{
    width: 0;

  }

  100%{
    width: 100%;
  }
}
