* {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}


.blur{
  width: 0rem;
  height: 100vh;
  position: fixed;
  z-index: 1;
  min-height: 100vh;
  background: rgba(55, 55, 55, 0.35);
  backdrop-filter: blur(10px);
  transition: all .8s ease;
}

.on {
  animation-name: bg_blur;
  animation-duration: 0.5s;
  width: 100%;
}

.sidebar {
  background: rgb(76, 73, 73);
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0px;
  width: 0rem;
  height: 100%;
  border-radius: .5rem;
  box-shadow: 0.065rem 0 1.25rem 0 #33373d;
}

.open {
  width: 24rem;
  margin-top: 0.5%;
  margin-left: 1%;
  height: 98%;
}

.sidebarTop {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;

  animation: fadeIn 1s;
}

.btnClose {
  margin-left: auto;
  background: transparent;
  color: var(--font-color-sidebar);
  font-size: 2rem; /* 32px */
  width: 3rem;  /* 48px */
  height: 3rem; /* 48px */
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btnClose:active{
  font-size: 1rem;
}

.sidebarContent {
  position: relative;
  text-align: center;

  animation: fadeIn 1s;
}

.propic {
  border-radius: 11rem;
  height: 10rem;
  margin-bottom: 10px;

  animation: hello_propic 0.5s;
}

.sidebarContent h3 {
  color: var(--font-color-sidebar);
  font-weight: 500;
}

.sidebarContent p{
  color: var(--font-color-sidebar);
  font-weight: 200;
}

.sidebarContacts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 30%;

  animation: fadeIn 1.5s;
}



.contacts i {
  display: flex;
  align-items: center;
	justify-content: center;
  height: 2em;
	width: 2em;
  margin: 1.5rem;
	border-radius: 50%;
	background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  background-size: 200% auto;
  font-size: 1.5rem;
  color: var(--font-color-sidebar);
	text-align: center;

	transition: 0.5s;
}

.contacts i:hover,
.contacts i:focus  {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  box-shadow: 0 0 20px #ffffff;
  color: var(--font-color-sidebar);
  text-decoration: none;
}

@keyframes hello_propic{
  0%{
    width: 0;

  }

  100%{
    width: 40%;
  }
}

@keyframes bg_blur{
  0%{
    width: 0;

  }

  100%{
    width: 100%;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }

  0%{
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {

  .open {
    width: 98%;
  }

  .on {
    width: 0;
  }

  @keyframes hello_propic{
    0%{
      width: 0;

    }

    100%{
      width: 27%;
    }
  }


}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* sidebar centrale */

  .sidebar{
    left: 50%;
    transform: translateX(-50%);
  }

  .open {
    width: 30rem;
  }

  @keyframes hello_propic{
    0%{
      width: 0;

    }

    100%{
      width: 33%;
    }
  }

}
