<div class="blur" [ngClass]="blur"></div>

<div class="sidebar" [ngClass]="status">
  <div class="sidebarTop" @fade *ngIf="status == 'open'">
    <Button class="btnClose"@fade *ngIf="status == 'open'" (click)="onClick()">✖</Button>
  </div>


  <div class="sidebarContent" @fade *ngIf="status == 'open'">
    <img class="propic" @fade *ngIf="status == 'open'" src={{datiCv.propic_path}}>

    <h3 class="dati" @fade>{{datiCv.name}} {{datiCv.surname}}</h3>

    <hr style="margin: 10px 30px 10px 30px;">

    <p class="dati" @fade style="margin-bottom: 10px;">{{datiCv.birth_date}}</p> <!-- aggiungere bottoni -->
    <p class="dati" @fade style="margin-bottom: 10px;">{{datiCv.email}}</p>
    <p class="dati" @fade style="margin-bottom: 10px;">{{datiCv.github}}</p>

    <hr style="margin: 10px 30px 10px 30px;">
  </div>

  <div class="sidebarContacts" @fade *ngIf="status == 'open'">
    <div class="contacts" @fade>
      <p>L</p>
    </div>
    <div class="contacts" @fade>
      <p>T</p>
    </div>
    <div class="contacts" @fade>
      <p>G</p>
    </div>
  </div>

</div>


