*{
  font-family: 'Roboto Mono', monospace;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 2.5em;
  padding-top: 2.5em;
  background-color: transparent;
  color: var(--font-clr);
  font-weight: 200;
  letter-spacing: 0.10rem;
  z-index: 0;
}

a {
  color: var(--font-clr);
  text-decoration: none;
}

.toolbar img {
  margin: 0 1rem 0 0;
}

.toolbar #propic:hover {
  background-color: blue;  /* test */
  opacity: 0.8;
  cursor: pointer;
}
