* {
  font-family: 'Roboto Mono', monospace, 'Sofia Sans', sans-serif;
}

.ontopbg {
  position: relative;
  z-index: 1;
}

.background {
  background-color: #4158D0;
  background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  background-size: 200% 200%;
  min-height: 100vh;

  animation: backgroundZoom 6.5s ease infinite;
}

@keyframes backgroundZoom {
  0% {
  background-position: 0% 0%;
  }

  50% {
   background-position: 75% 0%;
  }

  100% {
  background-position: 0% 0%;
  }
}
