* {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.background {
  background-image: linear-gradient(to right bottom, purple 20%, blue 35%, rgba(0, 0, 0, 0) );
  z-index: -2;
}

.prova{
  width: 100%;
  justify-content: center;
  display: flex;
}
