<div class="content">

  <div class="card">
    <div class="card-head">Lorem Ipsum 1</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio dui, ultrices non auctor non, vestibulum vitae diam. Aenean aliquam, ante tincidunt mattis eleifend, urna elit lobortis quam, id vestibulum nisi leo a nunc. Etiam et imperdiet massa. Aliquam in ante a ante ultrices imperdiet. Nullam vulputate rhoncus tellus, vitae varius quam volutpat quis. Cras pellentesque fringilla enim.</div>
  </div>

  <div class="card">
    <div class="card-head">Lorem Ipsum 2</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio dui, ultrices non auctor non, vestibulum vitae diam. Aenean aliquam, ante tincidunt mattis eleifend, urna elit lobortis quam, id vestibulum nisi leo a nunc. Etiam et imperdiet massa. Aliquam in ante a ante ultrices imperdiet. Nullam vulputate rhoncus tellus, vitae varius quam volutpat quis. Cras pellentesque fringilla enim.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio dui, ultrices non auctor non, vestibulum vitae diam. Aenean aliquam, ante tincidunt mattis eleifend, urna elit lobortis quam, id vestibulum nisi leo a nunc. Etiam et imperdiet massa. Aliquam in ante a ante ultrices imperdiet. Nullam vulputate rhoncus tellus, vitae varius quam volutpat quis. Cras pellentesque fringilla enim.</div>
  </div>

  <h2>
    Il mio cv
</h2>
   <li>
      <h3>{{datiCv.propic_path}}</h3>
      <h3>{{datiCv.name}}</h3>
      <h3>{{datiCv.surname}}</h3>
      <h3 style="color: goldenrod;margin-top: 2em;">i miei lavori</h3>
      <h3 *ngFor="let work of datiCv.prev_works">{{work.job}} {{work.for}}</h3>
      <h3 style="color: goldenrod;margin-top: 2em;"> i miei strumenti</h3>
      <h3 *ngFor="let tool of datiCv.tools">{{tool.name}} {{tool.logo}}</h3>
   </li>
</div>
