<div class="home">

  <div class="intro">
    <h1>
      Ciao, sono Lorenzo
    </h1>
    <h2>
      Sono uno sviluppatore Front-End
    </h2>

    <div class="paragraph">
      <p>Procrastino solo per cercare nuove fonti di ispirazione e portare sempre qualcosa di nuovo nelle mie idee.</p>

      <br>

      <p>Affronto i problemi e la vita con curiosità, empatia  e schiettezza. Non cerco la perfezione ma il costante miglioramento di me stesso.</p>
    </div>
  </div>


  <div class="content">

    <!-- INIZIO CARD -->

      <div class="card experience">
        <header class="card-head">Esperienze</header>
        <p class="card-body">
          Do molta importanza a ogni esperienza, lavorativa e non, questo mi porta ad apprendere competenze che utilizzo nella mia vita. Ho avuto l'opportunità di lavorare in molti ambienti multiculturali e di confrontarmi con sfide di diverso tipo, imparando ad adattarmi a nuovi contesti e a nuovi team di lavoro, sviluppando un'ottima flessibilità e una buona capacità di comunicazione in italiano e in inglese anche in situazioni di pressione. Le mie competenze organizzative sono state ulteriormente sviluppate anche grazie a esperienze di produzioni amatoriali di cortometraggi e podcast radiofonici. Infine, ho esperienze nel redigere strategie di marketing e business model, lavorando in team per definire le strategie più efficaci per raggiungere gli obiettivi di business.
          <br>
          Sono sempre alla ricerca di nuove opportunità per crescere e sviluppare le mie competenze, con l'obiettivo di raggiungere i miei obiettivi.
        </p>
      </div>

      <div class="card skills">
        <header class="card-head">Skills</header>
        <div class="card-body">
          <div class="grid-container">

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
            </div>

          </div>

        </div>
      </div>
    <!-- FINE CARD -->

  </div>
</div>
