<div class="home">

  <!-- PROVA -->
  <div class="intro">
    <h1>
      Hi, I am Lorenzo.
    </h1>
    <h2>
      I'm a Web Designer
    </h2>

    <div class="paragraph">
      <p>Qeusto è un paragrafo da riempire come presentazione etc etc etc</p>

      <br>

      <p>Questo fa sempre parte del paragrafo da riempire cosi fa spesso e capì <s>ffiuuuuh</s>.
      Scrivi qualcosa qui, poi qualcosa qui e nent</p>
    </div>
  </div>
  <!-- FINE PROVA -->


  <div class="content">

    <!-- INIZIO CARD -->

      <div class="card experience">
        <header class="card-head">Education</header>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium autem vel, molestiae reiciendis quod sed explicabo odio harum, cum, ipsum architecto blanditiis! Est, animi omnis. Eligendi earum iste veritatis deserunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam exercitationem magni officiis quas in eveniet veritatis ipsa autem dolor facere voluptates dignissimos nostrum, delectus voluptatibus voluptatum maxime quae id nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ad facere accusantium, nobis repudiandae dolorum quaerat esse a dolores nisi saepe quidem autem quos delectus culpa mollitia consequuntur neque porro!
        </p>
      </div>

      <div class="card skills">
        <header class="card-head">Skills</header>
        <div class="card-body">
          <div class="grid-container">

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
            </div>

            <div class="grid-item">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
            </div>

          </div>

        </div>
      </div>
    <!-- FINE CARD -->

  </div>
</div>
